<app-header></app-header>
<div class="jumbotron justify-content-center" >
    <h1 class="display-4 text-center text-light mb-5">Hello, {{username}}!</h1>
    <p class="lead text-center mb-5 text-light ">This is a simple Stock Market Charting Website.</p>
    <hr class="my-4 mb-5 bg-light">
    <div>
        <p class="lead text-center text-light"><b>Name : </b>{{username}}</p>
        <p class="lead text-center text-light"><b>User type :</b> User</p>
        <p class="lead text-center text-light"><b>Contact :</b> {{mobile}}</p>
        <p class="lead text-center text-light"><b>Email :</b> {{email}}</p>
        
    </div>

    

  </div>
 