<div class="container">
    <div class="card-deck">
<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/images/ipo1.jpg" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title text-center">ADD IPO DETAILS</h5>
      <p class="card-text text-center">Click here if you want to add new IPO Details </p>
      <a href="#" class="btn btn-primary  " routerLink="/admin/add-ipo">Add IPO</a>
    </div>
  </div>


  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/images/ipo2.jpg" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title text-center">UPDATE IPO DETAILS</h5>
      <p class="card-text text-center">Click here if you want to update IPO Details</p>
      <a href="#" class="btn btn-primary " routerLink="/admin/list-edit-ipo" >Update IPO Details</a>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/images/ipo3.jpg" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title text-center">LIST IPO DETAILS</h5>
      <p class="card-text text-center">Click here if you want a list of all the Company IPOs</p>
      <a href="#" class="btn btn-primary " routerLink="/admin/list-ipo" >List All IPOs</a>
    </div>
  </div>
    </div>
</div>
