<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        
        
   <style>        
body{
  background: url(assets/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}

        
        .w3-allerta {
      font-family: "Allerta Stencil", Sans-serif;
    }
        
</style> 

    </head>
    <body>
<header class="shadow" *ngIf="role == 'ADMIN'">
    <nav class="navbar navbar-expand-lg navbar-dark " style="  box-shadow: 0 20px 20px -20px rgb(87, 12, 87);">
        <div class="container">
               
            <a class="navbar-brand" href="#">
                    
                     <h1 class="w3-container  w3-center w3-allerta" >Stock Show</h1>
                            
                    </a>
                    
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mx-auto">

                    
                    
                    <!--
                    <div class="nav-item dropdown">
                    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="menu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Company
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/admin/add-company">Add Company</a>
                            <a class="dropdown-item" routerLink="/admin/update-company">Update Company</a>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Exchange
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLink="/admin/add-stock-exchange">Add Exchange</a>
                            <a class="dropdown-item" routerLink="/admin/list-company">List Exchange</a>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                -->
                   
                    
                            
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/admin/manage-company">Company</a>
                </div>
                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="nav-item">
                    <a class="nav-link text-light" routerLink="/admin/manage-exchange">Stock Exchange</a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/admin/ipo">IPO</a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/admin/upload">Import Stock Data</a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link d-flex" href="">
                            <i class="fa fa-user mr-2 mt-1"></i>
                            <span>Signout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<header class="shadow" *ngIf="role == 'USER'">
    <nav class="navbar navbar-expand-lg navbar-dark " style="  box-shadow: 0 20px 20px -20px rgb(87, 12, 87);">
        <div class="container">
               
            <a class="navbar-brand" href="#">
                    
                     <h1 class="w3-container  w3-center w3-allerta" >Stock Charts</h1>
                            
                    </a>
                    
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mx-auto">

                    
                            
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/user/list-company">Search Company</a>
                </div>
                
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/user/list-ipo">IPOs</a>
                </div>
                
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/user/compare-company">Compare Company</a>
                </div>
                
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/user/compare-sector">Compare Sector</a>
                </div>
                
                <div class="nav-item">
                    <a class="nav-link text-light" routerLink="/user/update-user">Update Profile</a>
                </div>
               
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link d-flex" href="">
                            <i class="fa fa-user mr-2 mt-1"></i>
                            <span>Signout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>